.vscode/
.DS_Store
docs/.DS_Store
*.egg-info/
*.pyc
_build
build/
dist/
.pytest_cache/
tests/integration/Dockerfile
tests/integration/requirements.txt
tests/integration/kernel-metadata.json
tests/integration/run.sh
